<app-header></app-header>
<div class="change-password">
  <h4>Change Password</h4>
  <div>
    <label>Old Password</label><br/>
    <input type="password" [(ngModel)]="oldPassword"/>
  </div>
  <div>
    <label>New Password</label><br/>
    <input type="password" [(ngModel)]="newPassword"/>
  </div>
  <div>
    <label>Repeat Password</label><br/>
    <input type="password" [(ngModel)]="repeatPassword"/>
  </div>
  <br/>
  <div>
    <button (click)="changePassword()" class="btn btn-primary">Apply</button>
    <button routerLink="/user-profile" class="btn btn-primary">Cancel</button>
  </div>
  <br/>
</div>
