<app-header></app-header>
<div class="register">
  <h4>Register</h4>
  <div>
    <label>Username</label><br/>
    <input type="text" [(ngModel)]="user.username"/>
  </div>
  <div>
    <label>Password</label><br/>
    <input type="password" [(ngModel)]="user.password"/>
  </div>
  <div>
    <label>Role</label>
    <select class="select-role" name="role" [(ngModel)]="user.role">
      <option value="USER">User</option>
      <option value="ADMIN">Admin</option>
    </select>
  </div>
  <br/>
  <div>
    <button (click)="register()" class="btn btn-primary">Apply</button>
    <button routerLink="/admin" class="btn btn-primary">Cancel</button>
  </div>
  <br/>
</div>
