<app-header></app-header>
<div class="container">
  <div class="book-info-image">
    <app-image [isbn]="isbn"></app-image>
  </div>
  <div class="book-info">
    <h5>{{book.title}}</h5>
    <h6>Authors: {{book.authors}}</h6>
    <h6>Year: {{book.year}}</h6>
    <div class="user-buttons">
      <div *ngIf="isAvailable() && !isInStore()">
        <a (click)="addToStore()" class="btn btn-primary">Add to store</a>
      </div>
      <div *ngIf="isInStore()">
        <a (click)="removeFromStore()" class="btn btn-primary">Remove from store</a>
        <a routerLink="/book-read/{{isbn}}" class="btn btn-primary">Read book</a>
      </div>
    </div>
    <div class="admin-buttons">
      <a routerLink="/book-edit/{{isbn}}" class="btn btn-primary">Update</a>
      <a (click)="removeBook()" class="btn btn-primary">Remove</a>
    </div>
  </div>
</div>
